/* ==========================
   GLOBAL STYLES
========================== */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;


}


h1,
h2,
h3 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
  line-height: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==========================
 NAVBAR STYLES
========================== */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  background-color: #1e1e1e;
}

.Sticky {
  position: sticky;
  z-index: 10;
  top: 0;
}

.Myname {
  font-size: 18px;
  margin-left: 3px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.Myname:hover {
  color: #00d1b2;
}

.Social-media {
  display: flex;
  gap: 20px;
}

.Social-media img {
  width: 35px;
  height: 30px;
}



.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  color: #28d1ad;
}

/* ==========================
 HERO SECTION
========================== */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 30px;

}

.hero .img-container {
  flex: 1;
  text-align: left;

}

.hero .img-container img {

  border-radius: 300%;
  box-shadow: 0 0 20px 5px #28d1ad;
  width: 300px;
  margin-bottom: 50px;


}

.hero .netdeveloper {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 80px;
}

.hero p {
  font-size: 18px;
  margin-top: 20px;
}

.CV {
  color: #00d1b2;
}

.Cvbutton {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #28d1ad;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.Cvbutton:hover {
  transform: scale(1.1);
}

/* ==========================
 SECTION STYLES
========================== */
section {
  padding: 100px 40px;
  border-bottom: 1px solid #333;
  scroll-margin-top: 100px;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  background-color: #1e1e1e;
}

#about img {
  width: 100%;
  border-radius: 10px;
}

#skills {
  background-color: #252525;
}

#projects {
  background-color: #2a2a2a;
}

#contact {
  background-color: #333333;
}

/* ==========================
 SKILLS SECTION
========================== */

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.chip {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #28d1ad;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;

}

.chip:hover {
  transform: scale(1.2);
}

.work {
  height: 50px;
  padding-top: 10px;


}

/* ==========================
 PROJECTS SECTION
========================== */

.Projects article {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.Projects .img-container img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.Projects button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #28d1ad;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.Projects button:hover {
  background-color: #00d1b2;
}

/* ==========================
 FOOTER
========================== */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;


}

footer #weather {
  padding: 30px;
}

footer #weather h3 {
  margin: 0;
  font-size: 1.2em;
  color: #ffd700;
}

footer #weather-info {
  font-size: 1em;
  color: #ddd;
}

footer p {
  margin: 0px;
  font-size: 0.9em;
  color: #bbb;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .Navbar {
    flex-direction: column;
    /* Gör navigationsfältet vertikalt */
    align-items: center;
  }
}

/* För mobiler */
@media (max-width: 599px) {
  .Navbar {
    flex-direction: column;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .Navbar {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .Navbar {
    padding: 5px 10px;
  }
}

@media screen and (max-width: 800px) {

  .left,
  .main,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}